@font-face {
  font-family: '思源-Bold';
  src: url('./cn/SourceHanSansCN-Bold.otf');
}
@font-face {
  font-family: '思源-ExtraLight';
  src: url('./cn/SourceHanSansCN-ExtraLight.otf');
}
@font-face {
  font-family: '思源-Heavy';
  src: url('./cn/SourceHanSansCN-Heavy.otf');
}
@font-face {
  font-family: '思源-Light';
  src: url('./cn/SourceHanSansCN-Light.otf');
}
@font-face {
  font-family: '思源-Medium';
  src: url('./cn/SourceHanSansCN-Medium.otf');
}
@font-face {
  font-family: '思源-Normal';
  src: url('./cn/SourceHanSansCN-Normal.otf');
}
@font-face {
  font-family: '思源-Regular';
  src: url('./cn/SourceHanSansCN-Regular.otf');
}

@font-face {
  font-family: '阿里巴巴-Bold';
  src: url('./cn/Alibaba-PuHuiTi-Bold.otf');
}
@font-face {
  font-family: '阿里巴巴-Heavy';
  src: url('./cn/Alibaba-PuHuiTi-Heavy.otf');
}
@font-face {
  font-family: '阿里巴巴-Light';
  src: url('./cn/Alibaba-PuHuiTi-Light.otf');
}
@font-face {
  font-family: '阿里巴巴-Medium';
  src: url('./cn/Alibaba-PuHuiTi-Medium.otf');
}
@font-face {
  font-family: '阿里巴巴-Regular';
  src: url('./cn/Alibaba-PuHuiTi-Regular.otf');
}

@font-face {
  font-family: 'IMPACT';
  src: url('./cn/IMPACT.ttf');
}

@font-face {
  font-family: 'DIN-Black';
  src: url('./cn/DINPro-Black.otf');
}
@font-face {
  font-family: 'DIN-Bold';
  src: url('./cn/DINPro-Bold.otf');
}
@font-face {
  font-family: 'DIN-Light';
  src: url('./cn/DINPro-Light.otf');
}
@font-face {
  font-family: 'DIN-Medium';
  src: url('./cn/DINPro-Medium.otf');
}
@font-face {
  font-family: 'DIN-Regular';
  src: url('./cn/DINPro-Regular.otf');
}

@font-face {
  font-family: 'WMFRotis-Bold';
  src: url('./cn/WMFRotis-Bold.otf');
}
@font-face {
  font-family: 'WMFRotis-Light';
  src: url('./cn/WMFRotis-Light.otf');
}
@font-face {
  font-family: 'WMFRotis-LightItalic';
  src: url('./cn/WMFRotis-LightItalic.otf');
}
@font-face {
  font-family: 'WMFRotis-Medium';
  src: url('./cn/WMFRotis-Medium.otf');
}
@font-face {
  font-family: 'OPPOSans-B';
  src: url('./cn/OPPOSans-B.ttf');
}
@font-face {
  font-family: 'OPPOSans-H';
  src: url('./cn/OPPOSans-H.ttf');
}
@font-face {
  font-family: 'OPPOSans-L';
  src: url('./cn/OPPOSans-L.ttf');
}
@font-face {
  font-family: 'OPPOSans-M';
  src: url('./cn/OPPOSans-M.ttf');
}
@font-face {
  font-family: 'OPPOSans-R';
  src: url('./cn/OPPOSans-M.ttf');
}
@font-face {
  font-family: '方正黑体_GBK';
  src: url('./cn/方正黑体_GBK.TTF');
}
@font-face {
  font-family: '方正黑体简体';
  src: url('./cn/方正黑体简体.TTF');
}
@font-face {
  font-family: '方正兰亭超细黑简体';
  src: url('./cn/方正兰亭超细黑简体.TTF');
}
@font-face {
  font-family: '方正兰亭粗黑_GBK';
  src: url('./cn/方正兰亭粗黑_GBK.TTF');
}
@font-face {
  font-family: '方正兰亭粗黑简';
  src: url('./cn/方正兰亭粗黑简.TTF');
}
@font-face {
  font-family: '方正兰亭粗黑简体';
  src: url('./cn/方正兰亭粗黑简体.TTF');
}
@font-face {
  font-family: '方正兰亭大黑_GBK';
  src: url('./cn/方正兰亭大黑_GBK.ttf');
}
@font-face {
  font-family: '方正兰亭黑_GBK';
  src: url('./cn/方正兰亭黑_GBK.TTF');
}
@font-face {
  font-family: '方正兰亭黑简';
  src: url('./cn/方正兰亭黑简.TTF');
}
@font-face {
  font-family: '方正兰亭特黑';
  src: url('./cn/方正兰亭特黑.otf');
}
@font-face {
  font-family: '方正兰亭特黑长简';
  src: url('./cn/方正兰亭特黑长简.TTF');
}
@font-face {
  font-family: '方正兰亭特黑长简_GBK';
  src: url('./cn/方正兰亭特黑长简_GBK.TTF');
}
@font-face {
  font-family: '方正兰亭细黑';
  src: url('./cn/方正兰亭细黑.TTF');
}
@font-face {
  font-family: '方正兰亭细黑_GBK';
  src: url('./cn/方正兰亭细黑_GBK.TTF');
}
@font-face {
  font-family: '方正兰亭细黑简体';
  src: url('./cn/方正兰亭细黑简体.TTF');
}
@font-face {
  font-family: '方正兰亭纤黑';
  src: url('./cn/方正兰亭纤黑.TTF');
}
@font-face {
  font-family: '方正兰亭纤黑_GBK';
  src: url('./cn/方正兰亭纤黑_GBK.ttf');
}
@font-face {
  font-family: '方正兰亭中粗黑_GBK';
  src: url('./cn/方正兰亭中粗黑_GBK.ttf');
}
@font-face {
  font-family: '方正兰亭中黑_GBK';
  src: url('./cn/方正兰亭中黑_GBK.TTF');
}
@font-face {
  font-family: '方正兰亭准黑_GBK';
  src: url('./cn/方正兰亭准黑_GBK.ttf');
}
