@font-face {
  font-family: '思源黑体';
  src: url('./cn/SourceHanSansCN-Bold.otf');
}

@font-face {
  font-family: '阿里巴巴普惠';
  src: url('./cn/Alibaba-PuHuiTi-Bold.otf');
}

@font-face {
  font-family: 'IMPACT';
  src: url('./cn/IMPACT.ttf');
}

@font-face {
  font-family: 'DIN';
  src: url('./cn/DINPro-Black.otf');
}
